html {
  scroll-behavior: smooth;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.App {
  flex: 1;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

@media (min-width: 1000px) {
  .App {
    flex-direction: row;
  }
}

section {
  margin: 1rem 0px;
}

@media (min-width: 1000px) {
  section {
    margin: 1rem 0px;
  }
}

h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 3rem;
  font-weight: 500;
  line-height: 3rem;
}

@media (min-width: 1000px) {
  h1 {
    font-size: 4.5rem;
    line-height: 4rem;
  }
}

#left h1 em {
  color: #ff3c09;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1.5rem;
}

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 16px;
  /* For fuck's sake, CSS */
  padding-right: 24px;
  min-height: 100vh;
}

@media (min-width: 1000px) {
  .container {
    display: flex;
    height: 100%;
    width: 50%;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    padding-right: 0;
    padding: 0 100px;
  }
}

#left {
  background-color: #0a2463;
  color: #fff;
}

#right {
  background-color: #f0f4ff;
  color: #0a2463;
}

form {
  display: flex;
  flex-direction: column;
}

form p {
  font-weight: bold;
}

@media (min-width: 1000px) {
  form {
    margin: 0;
    flex-direction: row;
  }
}

input {
  border-radius: 8px;
  padding: 0 4px;
  font-weight: bold;
  margin-right: 4px;
}

@media (min-width: 1000px) {
  input {
    width: 50%;
  }
}

.selector.selected {
  background-color: #fff;
  color: #0a2463;
}

.selector {
  border-radius: 8px;
  color: #fff;
  background-color: #0a2463;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border-width: 2px;
  border-color: #fff;
  border-style: solid;
  flex: 1;
  margin: 0 4px;
}

.selectors {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.formContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.breathsContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: space-between;
}

.lottieContainer {
  display: flex;
  flex: 1;
}

@media (min-width: 1000px) {
  .breathsContainer {
    flex-direction: row;
  }
}

.breathsInnerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.breathsContainer p {
  text-align: center;
}

@media (min-width: 1000px) {
}

#sadWords {
  margin-bottom: 1rem;
}
